<h2>Your Liked Spots</h2>
<% @favorites.each do |favorite| %>
  <%= link_to spot_path(favorite.favoritable_id), style:"text-decoration:none; color:white;" do %>
    <div class="fav-card" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= asset_path(favorite.favoritable.photo) %>)">
      <div><%= favorite.favoritable.name %></div>
    </div>
  <% end %>
<% end %>
