<h2>Your Liked Spots</h2>
<% @favorites.each do |favorite| %>
  <%= link_to spot_path(favorite.favoritable_id), style:"text-decoration:none; color:black;" do %>
    <p><%= favorite.favoritable.name %></p>
  <% end %>
<% end %>
