<div class="card-trip">
  <%= image_tag  @spot.photo %>
  <div class="card-trip-infos">
    <div>
      <h3><%= @spot.name %></h3>
      <p><%= @spot.description %></p>
    </div>
    <h2 class="card-trip-pricing"><%= @spot.rating %>⭐️</h2>
  </div>
</div>
