
<div class="container-folder" >

  <div class="card">
    <h3>New Collection</h3>
    <br>
    <%= simple_form_for @folder do |f| %>
      <%= f.input :name, label: false, placeholder: "What's your collection called?" %>
      <br>
      <%= f.button :submit, "Create New Collection", class: "d-block btn-small text-decoration-none", style: "margin-bottom: 16px"%>

    <% end %>
  </div>
</div>
