<div style="padding: 30px 0px">

  <h2>Your <%= @folder.name %> Spots</h2>
  <% @spots.each do |spot| %>
    <div class="fav-card" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= asset_path(spot.photo) %>)">
      <%= link_to spot_path(spot.id), style:"text-decoration:none; color:white;" do %>
        <p><%= spot.name %></p>
      <% end %>
    </div>
  <% end %>
</div>
