<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to spots_path, class: "navbar-brand" do %>
      <%= image_tag "logo.png" %>
    <% end %>


  </div>
</div>
