<%# <div style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.55)), url(https://images.unsplash.com/photo-1469854523086-cc02fe5d8800?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2842&q=80);"> %>
<body class="no-navbar">
    <h1>EXPLORE THE WORLD</h1>
  <div class="banner">
    <h1 data-first-word="WHAT" data-second-word="HERE" font-size: calc(2.2rem + 1.5vw)></h1>
    <p>Travel like a local wherever you go</p>

    <div class="sign-in-buttons-container">
      <p> <%= link_to "Sign Up", new_user_registration_path, style: "color:white", class: "btn-flat text-decoration-none" %></p>
      <p> <%= link_to "Log In", new_user_session_path, style: "color:white", class: "btn-flat text-decoration-none" %></p>
    </div>
  </div>
</body>
