<body class="no-navbar">
  <div class="banner">
    <h2 data-first-word="WHAT" data-second-word="HERE" font-size: calc(3.2rem + 2.5vw)></h2>
    <h1>EXPLORE THE WORLD</h1>
    <p>Travel like a local wherever you go</p>

    <div class="sign-in-buttons-container">
      <p> <%= link_to "Sign Up", new_user_registration_path, style: "color:white", class: "btn-flat text-decoration-none" %></p>
      <p> <%= link_to "Log In", new_user_session_path, style: "color:white", class: "btn-flat text-decoration-none" %></p>
    </div>
  </div>
</body>
