<body class="no-navbar" style="background-image: url('https://images.unsplash.com/photo-1523906834658-6e24ef2386f9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=766&q=80'); background-repeat: no-repeat; background-size: cover; height: 75%vh;">
  <div class="banner">
    <h2 data-first-word="WHAT" data-second-word="HERE" font-size: calc(3.2rem + 2.5vw)></h2>
    <h1>EXPLORE THE WORLD</h1>
    <p>Travel like a local wherever you go</p>

    <div class="sign-in-buttons-container">
      <p> <%= link_to "Sign Up", new_user_registration_path, style: "color:white", class: "btn-flat text-decoration-none" %></p>
      <p> <%= link_to "Log In", new_user_session_path, style: "color:white", class: "btn-flat text-decoration-none" %></p>
    </div>
  </div>
</body>
<%# something  %>
