<%# THIS FORM IS FOR THE USER TO UPLOAD A PROFILE PICTURE %>
<%# <%= simple_form_for(article) do |f| %>
  <!-- [...] -->
  <%# <%= f.input :photo, as: :file %>
  <!-- [...] -->
<%# <% end %>
<%# THIS FORM IS FOR THE USER TO UPLOAD A PROFILE PICTURE %>
<h1>profile page</h1>
