.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #35b6fe;
  transition: 0.3s ease;
  // width: 150px;
  text-align: center;
  width: 354px;
  height: 55px;
  left: 13px;
  top: 518px;
  display: inline-block;

}

.btn-flat:hover {
  background: #000000;
  color: white;
}
// --------------buttons for show page
.btn-black {
  font-size: 16px;
  color: white;
  padding: 14px 0px;
  border-radius: 4px;
  background: #000000;
  transition: 0.3s ease;
  // width: 150px;
  text-align: center;
  width: 354px;
  height: 55px;
  left: 13px;
  top: 518px;
  display: inline-block;

}

.btn-red {
  font-size: 16px;
  color: white;
  padding: 14px 0px;
  border-radius: 4px;
  background: #8f0000;
  transition: 0.3s ease;
  // width: 150px;
  text-align: center;
  width: 354px;
  height: 55px;
  left: 13px;
  top: 518px;
  display: inline-block;

}

.btn-flat:hover {
  background: #35b6fe;
  color: white;
}
// ------------ ⌄⌄⌄⌄ profile page black_button

.btn-black-profile {
  font-size: 16px;
  color: white;
  padding: 14px 0px;
  border-radius: 20px;
  background: #000000;
  transition: 0.3s ease;
  // width: 150px;
  text-align: center;
  width: 354px;
  height: 55px;
  left: 13px;
  top: 518px;
  display: inline-block;
  margin-top: 16px;
}

// ------------ ⌄⌄⌄⌄ profile page cancel-account black_button

#btn-black-cancel-account {
  text-decoration: none;
  font-size: 16px;
  color: white;
  padding: 14px 0px;
  border-radius: 20px;
  background: #000000;
  transition: 0.3s ease;
  // width: 150px;
  text-align: center;
  width: 354px;
  height: 55px;
  left: 13px;
  top: 518px;
  display: inline-block;
  margin-top: -8px;
}

#btn-black-cancel-account > a{
  color: #ffffff;
  text-decoration: none;
}

// ------------
.btn-small {
  color: white;
  // padding: 30px;
  border-radius: 4px;
  background: #35b6fe;
  transition: 0.3s ease;
  // width: 150px;
  text-align: center;
  width: 290px;
  height: 55px;
  display: inline-block;

}

.btn-small:hover {
  background: #000000;
  color: white;
}

.btn-small2 {
  color: white;
  // padding: 30px;
  border-radius: 4px;
  background: #35b6fe;
  transition: 0.3s ease;
  // width: 150px;
  text-align: center;
  width: 91px;
  height: 55px;
  display: inline-block;

}

.btn-small:hover {
  background: #000000;
  color: white;
}


// --------button container in the show page

.button-container {
  position: absolute; /* Position the button container absolutely within the card */
  bottom: 20px; /* Position it 20px from the bottom */
  left: 0; /* Align it to the left edge */
  width: 100%; /* Make it span the entire width of the card */
  display: flex;
  padding: 10px;
}


.button-wide {
  flex-basis: 80%;
}

.button-narrow {
  flex-basis: 20%;
  margin-left: 5px;
}
