.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #35b6fe;
  transition: 0.3s ease;
  // width: 150px;
  text-align: center;
  width: 354px;
  height: 55px;
  left: 13px;
  top: 518px;
  display: inline-block;

}

.btn-flat:hover {
  background: #000000;
  color: white;
}
// --------------buttons for show page
.btn-black {
  font-size: 16px;
  color: white;
  padding: 14px 0px;
  margin-top: 16px;
  border-radius: 4px;
  background: #000000;
  transition: 0.3s ease;
  text-align: center;
  width: 341px;
  height: 55px;
  display: inline-block;

}

.btn-blue {


  font-size: 22px;
  color: white;
  padding: 12px 0px;
  margin-top: 16px;
  border-radius: 4px;
  background: #35b6fe;
  transition: 0.3s ease;
  text-align: center;
  width: 341px;
  height: 55px;
  display: inline-block;
  border-style: none;


}

.btn-flat:hover {
  background: #35b6fe;
  color: white;
}
// ------------ ⌄⌄⌄⌄ profile page black_button

.btn-black-profile {
  font-size: 16px;
  color: white;
  padding: 14px 0px;
  border-radius: 11px;
  background: #000000;
  transition: 0.3s ease;
  text-align: center;
  width: 175px;
  height: 55px;
  display: inline-block;
  margin: 16px 8px;
}

.btn-grey-profile {
  font-size: 16px;
  color: white;
  padding: 14px 0px;
  border-radius: 11px;
  background: #dddddd;
  transition: 0.3s ease;
  text-align: center;
  width: 175px;
  height: 55px;
  display: inline-block;
  margin: 16px 8px;

}

.btn-blue-profile {
  font-size: 16px;
  color: #dddddd;
  padding: 14px 0px;
  border-radius: 11px;
  background: #35b6fe;
  transition: 0.3s ease;
  text-align: center;
  width: 368px;
  display: inline-block;
  margin-top: 16px;
}

// ------------ ⌄⌄⌄⌄ profile page cancel-account black_button

#btn-black-cancel-account {
  text-decoration: none;
  font-size: 16px;
  color: white;
  padding: 14px 0px;
  border-radius: 20px;
  background: #000000;
  transition: 0.3s ease;
  // width: 150px;
  text-align: center;
  width: 354px;
  height: 55px;
  left: 13px;
  top: 518px;
  display: inline-block;
  margin-top: -8px;
}

#btn-black-cancel-account > a{
  color: #ffffff;
  text-decoration: none;
}

// ------------
.btn-small {
  color: white;
  // padding: 30px;
  border-radius: 4px;
  background: #35b6fe;
  transition: 0.3s ease;
  // width: 150px;
  text-align: center;
  width: 290px;
  height: 55px;
  display: inline-block;

}

.btn-small:hover {
  background: #000000;
  color: white;
}

.btn-small2 {
  color: white;
  // padding: 30px;
  border-radius: 4px;
  background: #35b6fe;
  transition: 0.3s ease;
  // width: 150px;
  text-align: center;
  width: 91px;
  height: 55px;
  display: inline-block;

}

.btn-small:hover {
  background: #000000;
  color: white;
}




//------------------ LIKE AND UNLIKE BUTTONS

.like-button {
  background: #38b6ffdd;
  color: #ffffff;
  opacity: 85%;
  display: flex;
  width: 172px;
  height: 50px;
  align-items: center;
  border-radius: 50px;
  justify-content: center;
  font-size: 33px;
  text-decoration: none;
}

.no-button {
  background: #bd0045eb;
  color: #ffffff;
  opacity: 85%;
  display: flex;
  width: 172px;
  text-align: center;
  height: 50px;
  align-items: center;
  border-radius: 50px;
  justify-content: center;
  font-size: 38px
}
