.navbar-lewagon {
  justify-content: space-between;
  background: white;
  display: block;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 280px;
}

.navbar {
  display: block;
}

.no-navbar .navbar-lewagon {
  display: none;
}
