.show-card {
  background-size: cover;
  background-position: center;
  height: 700px;
  position: relative;

  .show-card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5);

    h3, p {
      color: white;
      margin: 0;
    }

    .show-card-buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 1rem;

      button {
        background-color: transparent;
        border: none;
        color: white;
        font-size: 1.2rem;
        padding: 0.5rem;
        opacity: 0.5;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }
      }

      .no {
        color: red;
      }

      .love {
        color: blue;
      }
    }
  }

  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(to top, rgba(0,0,0,0.8), transparent);
    z-index: -1;
  }
}
